# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# Logs
*.log

# OS
.DS_Store

# IDE
.idea/
.vscode/

# Data and artifacts
dataset/
trained_model/

# Notebooks
.ipynb_checkpoints/
